/* GOOGLE FONTS - IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@400&display=swap');

/* =================== */
/* GENERAL FORMATTING */
/* =================== */
html {
    scroll-behavior: smooth;
}

/* ================ */
/* HOME */
/* ================ */
#home {
    background-color: white;
    padding: 100px 15px 15px 15px;
}

/* ================ */
/* Password */
/* ================ */
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
cursor: pointer;
}
.pass:hover{
text-decoration: underline;
}
  
.form-control:focus{
box-shadow: none !important;
border: 1px solid;
}
