{% extends "gspt_test/index.html" %}

{% block title %}Add Course{% endblock %}

{% block content %}
<div class="mx-8 mt-4">
    <table id="plan" class="display w-full">
        <thead>
            <tr>
                <th>Course Type</th>
                <th>Course Title</th>
                <th>Semester</th>
                <th>Academic Year</th>
                <th>Grade</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.course.get_kind_display }}</td>
                <td>{{ enrollment.course.title }}</td>
                <td>{{ enrollment.sem }}</td>
                <td>{{ enrollment.acad_year }}</td>
                <td>{{ enrollment.grade }}</td>
                <td>{{ enrollment.get_remark_display }}</td>
                {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let all_subjects_table = new DataTable('#plan', {
        // options
    });
</script>
{% block study_plan %}
{% endblock %}
{% endblock %}