{% extends "gspt_test/index.html" %}

{% block title %}Change Password{% endblock %}

{% block content %} 
<div class="mx-8 mt-4">
    <font color="#146835" size="7">Change Password</font>
    <div class="relative flex items-center">
        <div class="flex-grow border-t border-stone-500"></div>
    </div>
    <br>

    <div class = "mt-10 w-full place-content-center">
        <div class = "bg-green-100 rounded-3xl w-1/2" style="margin-right:auto; margin-left:auto">
            <br>
            <div class="form-group">
                <form method = "POST" action = "">
                    {% csrf_token %}
                    <div class="ml-10">
                        {% for error in form.non_field_errors %}
                            <div class = "alert alert-danger">
                                <font size="2"><i>{{ error }}</i></font>
                            </div>
                            <br>
                        {% endfor %}

                        {% for field in form %}
                            <div class = "form-group">
                                <font size="3">{{ field.label }}: </font>
                                <font size="2">{{ field }}</font>
                            </div>

                            {% if field.errors %}
                                <div class="alert alert-danger px-3">
                                    <font size="2"><i>{{ field.errors }}</i></font>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <center>
                        <a href="javascript:history.back()"><button class="bg-zinc-50 hover:bg-zinc-400 font-bold py-2 px-4 rounded">Go Back</button></a>
                        <button type="submit" data-toggle="button" class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">Change Password</button>
                    </center>    
                </div>
            <br>
        </div>
    </div>

</div>

{% endblock %}