{% extends "gspt_test/index.html" %}

{% block title %}Edit Course{% endblock %}

{% block content %}
<div class="mx-8 mt-4">
    <font color="#146835" size="7">Edit Course</font>
    <div class="relative flex items-center">
        <div class="flex-grow border-t border-stone-500"></div>
    </div>

    <div class = "mt-10 w-full place-content-center">
        <div class = "bg-green-100 rounded-3xl w-1/2" style="margin-right:auto; margin-left:auto">
            <br>
            <form class="space-y-4" method="post">
                <div class="ml-20 space-y-4">
                    {% csrf_token %} 
                    {{ form.as_p }}
                </div>
                <center>
                    <a href="javascript:history.back()"><button class="bg-zinc-50 hover:bg-zinc-400 font-bold py-2 px-4 rounded">Cancel</button></a>
                    <input class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" type="submit" value="Save">
                </center>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}
