{% extends "gspt_test/index.html" %}

{% block title %}Add Course{% endblock %}

{% block content %}
<div class="mx-8 mt-4">
    <font color="#146835" size="7">Delete Course</font>
    <div class="relative flex items-center">
        <div class="flex-grow border-t border-stone-500"></div>
    </div>

    <div class ="text-center mt-24 w-full">
        <div class="bg-red-100 rounded-3xl w-1/2" style="margin-right:auto; margin-left:auto">
            <br>
            <form class="space-y-4" method="post">
                {% csrf_token %}
                <p>Are you sure you want to <b>delete</b> <br> <i>{{ object }}?</i></p>
                <input type=button value="Cancel" onClick="javascript:history.go(-1);" class="bg-zinc-50 hover:bg-zinc-400 font-bold py-2 px-4 rounded">
                {{ form }}
                <input class="bg-red-900 hover:bg-red-800 text-white font-bold py-2 px-4 rounded" type="submit" value="Confirm">
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}