<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <style>
        html {
            height: 100%;
        }
    </style>
    <title>{% block title %}Graduate Student Progress Tracking System{% endblock %}</title>
</head>
<body class="flex flex-col w-full h-full bg-stone-50">
    <header class="h-20 px-5 relative flex items-center bg-slate-50 shadow-md z-40">
        <h1 class="text-2xl">DCS</h1>
    </header>
    <main class="relative flex flex-grow flex-shrink-0">
        <div class="pl-5 w-60 bg-white shadow-md">
            <ul class="mt-4">
                <li><a href="{% url 'gspt_test:index' %}">Home</a></li>
                <li><a href="{% url 'gspt_test:students' %}">Students</a></li>
                <li><a href="{% url 'gspt_test:checklist' %}">Curriculum Checklist</a></li>
            </ul>
        </div>
        <div class="flex-grow">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
<script>
    let table = new DataTable('#example', {
        // options
    });
</script>
</html>