<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
            height: 100%;
        }
    </style>
    <title>{% block title %}Graduate Student Progress Tracking System{% endblock %}</title>
</head>

<body class="flex flex-col w-full h-full bg-stone-50">
    <header class="h-20 px-5 relative flex items-center bg-slate-50 shadow-md z-40">
        <table style="width:100%;">
            <tr>
                <td style="width:80px"> {% load static %} <img src="{% static "up_logo.png" %}" width="70px"/> </td>
                <td style="width:80px">{% load static %} <img src="{% static "dcs_logo.png" %}" width="70px"></td>
                <td style="width:300px"><font color="#7b1113" size="4"> University of the Philippines Diliman</font><br>
                <font color="#146835" size="4"> Department of Computer Science</font></td>
                <td style="text-align:right; margin-top:10px;">Carlo Sumabat </td>
                <td style="text-align:right; width:50px; margin-top:10px;"> {% load static %} <img src="{% static "default-user-icon.png"%}" style="height:40px"></td>
                <td style="text-align:right; width:30px; margin-right:15px; margin-top:10px;"> {% load static %} <img src="{% static "user-button-down.png"%}" style="height:8px; width:10px"></td>
            </tr>
        </table>
    </header>
    
    <main class="relative flex flex-grow flex-shrink-0" >
        <div class="pl-3 w-20 bg-white shadow-md" style="background-color:#146835;"> 
            <br>
            {% load static %} <img src="{% static "home-white-icon.png"%}" width="50px"><br><br>
            {% load static %} <img src="{% static "student-profiles-white-icon.png"%}" width="50px"><br><br>
            {% load static %} <img src="{% static "curriculum-checklist-white-icon.png"%}" width="50px"><br><br>
        </div>
        <div class="flex-grow">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>