{% extends "gspt_test/index.html" %}

{% block title %}Student Profiles{% endblock %}

{% block content %}
<div class="mx-8 mt-4">
    <table id="plan" class="display w-full">
        <thead>
            <tr>
                <th>Course Type</th>
                <th>Course Title</th>
                <th>Semester</th>
                <th>Academic Year</th>
                <th>Grade</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.course_id.get_kind_display }}</td>
                <td>{{ enrollment.course_id.title }}</td>
                <td>{{ enrollment.sem }}</td>
                <td>{{ enrollment.acad_year }}</td>
                <td>{{ enrollment.grade }}</td>
                <td>{{ enrollment.get_remark_display }}</td>
                {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let all_subjects_table = new DataTable('#plan', {
        // options
    });
</script>
<h1 class="font-bold leading-tight text-4xl mx-8 my-6">Sorted by Sem</h1>
<div class="mx-8 my-4 grid grid-cols-2 gap-10">
    {% regroup enrollments by year as acad_year %}
    {% for enroll_year in acad_year %}
    {% regroup enroll_year.list by sem as semesters %}
    {% for semester in semesters %}
    <div>
        <h2 class="font-bold leading-tight text-xl mx-4 my-4">
            {{ semester.list.0.get_semester }}, A.Y. {{ enroll_year.grouper }}-{{ enroll_year.grouper|add:1 }}
        </h2>
        <table class="display w-full">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Unit</th>
                    <th>Grade</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody class="border-b border-t border-black">
                {% for class in semester.list %}
                <tr>
                    <td>{{ class.course_id.title }}</td>
                    <td>{{ class.course_id.units }}</td>
                    <td>{{ class.grade }}</td>
                    <td>{{ class.get_remark_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if semester.list.0.sem == "3" %}
    <div></div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}