{% extends "gspt_test/index.html" %}

{% block title %}Student Profiles{% endblock %}

{% block content %} 
<div class="mx-8 mt-4">
    <table id="example" class="display w-full">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Year Standing</th>
                <th>Lab Affiliation</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.person_id }}</td>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
                <td>{{ person.year_standing }}</td>
                <td>{{ person.lab_id }}</td>
                <td>{{ person.curr_spec_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}