{% extends "gspt_test/index.html" %}

{% block title %}Student Profiles{% endblock %}

{% block content %}
<div class="mx-8 mt-4">
    <table style="width:100%">
        <tr>
            <td>{{ student }}</td>
            <td style="text-align:right;">{{ student.lab_affiliation }}</td>
        </tr>
        <tr>
            <td>{{ student.person_id }}</td>
            <td style="text-align:right;">{{ student.lab_adviser }}</td>
        </tr>
        <tr>
            <td>{{ student.current_specialization }}</td>
            <td></td>
        </tr>
    </table>
    <div class="relative flex items-center">
        <br>
        <div class="flex-grow border-t border-stone-500"></div>
    </div>
</div>



<h1 class="font-bold leading-tight text-4xl mx-8 my-6">
    Courses Taken
</h1>
<div class="mx-8 mt-4">
    <div class="my-4">
        <a class="underline text-blue-600" href="{% url 'gspt_test:enrollment_add' pk=student.person_id %}">
            Add Course
        </a>
    </div>
    <table id="plan" class="display w-full">
        <thead>
            <tr>
                <th>Course Type</th>
                <th>Course Title</th>
                <th>Semester</th>
                <th>Academic Year</th>
                <th>Grade</th>
                <th>Remark</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.course.get_kind_display }}</td>
                <td>{{ enrollment.course.title }}</td>
                <td>{{ enrollment.sem }}</td>
                <td>{{ enrollment.acad_year }}</td>
                <td>{{ enrollment.grade }}</td>
                <td>{{ enrollment.get_remark_display }}</td>
                <td>
                    <a class="underline text-blue-600" href="{% url 'gspt_test:enrollment_edit' pk=student.person_id course_id=enrollment.course.course_id %}?year={{ enrollment.year }}&sem={{ enrollment.sem }}">Edit</a>
                </td>
                <td>
                    <a class="underline text-red-600" href="{% url 'gspt_test:enrollment_delete' pk=student.person_id course_id=enrollment.course.course_id %}?year={{ enrollment.year }}&sem={{ enrollment.sem }}">Delete</a>
                </td>
                {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let all_subjects_table = new DataTable('#plan', {
        "columnDefs": [{
            orderable: false,
            targets: [6, 7]
        }]
    });
</script>
{% block study_plan %}
{% endblock %}
{% endblock %}