{% extends "gspt_test/index.html" %}

{% block title %}Student Profiles{% endblock %}

{% block content %} 
<div class="mx-8 mt-4">
    <font color="#146835" size="7">Student Profiles</font>
    <div class="relative flex items-center">
        <div class="flex-grow border-t border-stone-500"></div>
    </div>
    <br>
    <table id="students" class="display w-full">
        <thead>
            <tr style="background-color: #146835; color:white">
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Year Standing</th>
                <th>Lab Affiliation</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.person_id }}</td>
                <td><a class="underline text-blue-600" href="{% url 'gspt_test:study_plan' person_id=person.person_id %}">{{ person.first_name }} {{ person.last_name }}</a></td>
                <td>{{ person.year_standing }}</td>
                <td>{{ person.lab_affiliation }}</td>
                <td>{{ person.current_specialization }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let table = new DataTable('#students', {
        // options
    });
</script>
{% endblock %}